# venv directory
/venv/*
/renv/*
!renv/activate.R

# data directory
/data/clean/*
/data/raw/*
/data/wrangle/*
!/data/raw/income.csv

# models directory
/models/*

# notebooks directory
/notebooks/*

# reports directory
/reports/clean/*
/reports/wrangle/*

# directory structure
!.gitkeep

# presentation files
/presentations/*.html
/presentations/*_files/
