# configuration file
config.yml

# data directory
/data/{clean,model,raw,wrangle}/*
/data/{clean,model,raw,wrangle}/*/
!/data/{clean,model,raw,wrangle}/.gitkeep

# notebooks directory
/notebooks/*
/notebooks/*/
!/notebooks/.gitkeep

# .venv directory
/.venv/
