# .venv directory
/.venv/

# data directory
/data/clean/*
/data/model/*
/data/raw/*
/data/wrangle/*

# notebook files
/notebooks/*

# directory structure
!.gitkeep

# presentation files
/presentations/*.html
/presentations/*_files/